html {
  font-size: 50%;
}

body {
  color: #07031b;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
  line-height: 1.6;
  margin: 0;
  font-size: 1.2em;
}

main {
  height: auto;
}

main h2 {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.2em;
  color: #1d1c1c;
  text-align: center;
  margin: 10px 0px 0px;
  font-size: 20px;
  display: inline-block;
}

main p {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.2em;
  color: #1d1c1c;
  text-align: center;
  font-weight: normal;
  font-size: normal;
  margin: 5px 5px;
  /* width: 40  0px; */
  display: inline-block;
}

.about {
  font-family: helvetica;
  text-align: center;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: helvetica;
  font-weight: normal;
  font-size: 1.3em;
  letter-spacing: 0.2em;
}

.top {
  margin: 0;
  padding: 0;
  margin-bottom: 0px;
  position: sticky;
}

.row {
  margin: 0;
}

h1 {
  font-family: "Josefin Slab", serif;
  letter-spacing: 0.2em;
  color: #151313;
  text-align: center;
  font-size: 20px;
  line-height: 4em;
}

h3 {
  font-family: "Noto Sans JP", serif;
  letter-spacing: 0.2em;
  color: #151313;
  text-align: center;
  margin-top: 40px;
  font-size: 1.3em;
}

h4 {
  font-size: 1.3em;
}

.about-wrap {
  background-color: rgba(49, 178, 238, 0.13);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
}

.new {
  font-family: helvetica;
  text-align: center;
  display: inline-block;
  height: 500px;
  position: relative;
}

.neu {
  position: relative;
  font-size: normal;
}

.new_text {
  top: 100px;
  left: 300px;
}

.profiel-wrap {
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
}

.about-wrap2 {
  width: 100%;
  padding-top: 20px;
}

.maintext {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 1.2em;
  width: 70%;
}

.maintext.skiltext {
  font-size: 1.2em;
  width: max-content;
}

p a .glo {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

p a .glo:link, p a .glo:visited {
  color: #151313;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
}

p a .glo::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 0.5px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}

p a .glo:hover::after {
  transform: scale(1, 1);
}

#workslink {
  text-decoration: none;
}

header {
  max-width: 100%;
  margin: 0;
}

.glo {
  text-align: center;
  letter-spacing: 0.3em;
  padding: 1px;
  position: sticky;
  top: 0;
  background-color: white;
}

.glo p {
  margin-top: 0.8rem;
}

header p img {
  width: 100vw;
  height: auto;
}

.movieEx {
  text-align: left;
}

.text-dark {
  font-size: small;
}

.title {
  font-weight: normal;
  text-rendering: optimizeLegibility;
  margin-bottom: 8px;
  line-height: 150%;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2em;
  color: #151313;
  text-align: center;
  background-color: opacity(0);
}

.divider {
  border: none;
  border-top: 1px solid #242a2c;
  margin-bottom: 20px auto;
  width: 200px;
}

hr .divider2 {
  border: none;
  border-top: 1px solid #242a2c;
  margin-bottom: 2px;
}

.works_container {
  height: 150px;
}

.st {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.todo_container {
  height: auto;
  text-align: center;
  margin-bottom: 30px;
}

.todo_container h2 {
  padding: 40px 0 60px;
  letter-spacing: 0.2em;
  font-family: "Merriweather", serif;
}

#app li > span.done {
  text-decoration: line-through;
}

.debag {
  margin-top: 10px;
}

.dips {
  text-align: left;
  padding: 0 50px 0px;
  max-width: 640px;
  margin: auto;
  letter-spacing: 0.2em;
  font-family: helvetica;
  font-weight: normal;
  /* font-size: 9px; */
}

.btn_form {
  margin-left: 10px;
}

.hob_li ul {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  list-style-type: disc;
  display: block !important;
}

.prof {
  text-align: center;
}

.hob {
  display: inline-block;
  font-weight: normal;
  font-size: 5px;
  letter-spacing: 0.2em;
  text-align: center;
  height: auto;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hob p {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 2.8em;
  text-align: left;
  width: 80%;
}

p .movieEx {
  text-align: left;
}

.hob_title {
  font-family: helvetica;
  letter-spacing: 0.2em;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}

.o-3column {
  padding-right: 20px;
  padding-left: 20px;
}

a {
  color: #151313;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 2em;
}

.favorit {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fav_text {
  text-align: left;
  margin-top: 25px;
  font-size: medium;
}

.fav_contents {
  margin-top: 25px;
}

h6 {
  font-size: 1.5em;
  margin-bottom: 2px;
}

.marktext_01 {
  background: linear-gradient(transparent 80%, #118cf157 50%);
}

.marktext_02 {
  background: linear-gradient(transparent 80%, #f1119465 50%);
}

ul {
  display: flex;
  background-color: white;
  color: #666;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0;
  height: 30px;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 0.5rem;
}

.todo ul {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  list-style-type: disc;
  display: block !important;
}

.prof_img {
  max-width: 25%;
  margin: 15px 0px 12px;
}

.sns {
  background-color: black;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  justify-content: center;
  height: 40px;
}

.sns li {
  width: 50px;
  text-align: center;
}

.sns img {
  width: 40%;
  padding-top: 0px;
  text-align: center;
}

.footer_copyright {
  font-family: helvetica;
  font-weight: normal;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 2rem;
}

.swiper-container {
  width: 100%;
  height: 700px;
}

img {
  max-width: 90%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
  width: 20px;
  height: 32.58px;
  fill: #666;
  stroke: none;
  stroke-width: 0;
  background-image: none;
  z-index: 10000;
}

@media (max-width: 600px) {
  .swiper-slide {
    padding: 50px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
  }
}

@media (min-width: 601px) {
  .sample02 .swiper-button-prev,
  .sample02 .swiper-button-next {
    display: block;
  }
  .sample02 .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
  }
}

.twpjURL {
  width: 50vh;
}

.skill-wrapper {
  text-align: center;
}

.skillLogo {
  border: #151313;
  display: inline-block;
}

.html_green {
  color: #e5e763;
}

.css_pink {
  color: #ffa2fa;
}

.js_blue {
  color: #468df8;
}

.vue_green {
  color: #73cf9d;
}

.bs_purpul {
  color: #9348e9;
}
/*# sourceMappingURL=mobile.css.map */